/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('../node_modules/bulma-switch/dist/css/bulma-switch.min.css');
$body-overflow-y: auto;
$primary: hsl(56, 100%, 50%);
$link: hsl(18,82%,54%);
$table-row-hover-background-color: hsla(212, 91%, 71%, 0.445);
$family-sans-serif: Arial, Inter, Segoe UI, sans-serif;
$info: hsl(111.8, 89.1%, 46.7%);